{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "team-a-service.serviceAccountName" . }}
  labels:
    {{- include "team-a-service.labels" . | nindent 4 }}
  annotations:
    {{- include "team-a-service.annotations" . | nindent 4 }}
    {{- with .Values.serviceAccount.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
{{- end }}
